#loading {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    inset: 0;
    transition: opacity 1.5s ease;

}

#loading img {
    width: 50%;
    height: auto;
    animation: animacao 1.5s ease forwards;
}

@keyframes animacao {

    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#loading.hide {
    opacity: 0;
}

#PaginaInicial {
    display: flex;
    text-align: center;
    justify-content: center;

}

#loc {
    text-align: center;
    width: 100%;
    height: 100%;
}

#titulo {


    
}